In [1]:
import os, sys, codecs, gc
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
%pylab inline

/usr/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/usr/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/usr/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

Populating the interactive namespace from numpy and matplotlib

/usr/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [4]:
train = pd.read_csv('../input/train.csv', usecols=['api'])
api_value = train['api'].unique()

api_dict = {}
for i, api in enumerate(api_value):
    api_dict[api] = i
    
train_api = train['api'].apply(lambda x: api_dict[x])
del train; gc.collect()

In [9]:
train = pd.read_csv('../input/train.csv', usecols=['file_id', 'label', 'tid', 'return_value', 'index'])
train['api'] = train_api

In [22]:
del train_api

NameError: name 'train_api' is not defined

In [21]:
gc.collect()

92

In [33]:
for col in train:
    print(col, train[col].max(), train[col].min(), train[col].dtype)

file_id 116623 0 int32
label 5 0 int32
tid 55000 100 int32
return_value 8793823018752 -2147483643 int64
index 5000 0 int32

In [23]:
train = pd.read_csv('../input/train.csv', usecols=['file_id', 'label', 'tid', 'return_value', 'index'],
    dtype = {'file_id': np.int32, 'label':np.int32, 'tid':np.int32, 'return_value':np.int64, 'index':np.int32})

In [29]:
train[train['label'] == 1]

           file_id  label   tid  return_value  index
1806073        503      1  2700      13369348      0
1806074        503      1  2700             0      1
1806075        503      1  2700             1      2
1806076        503      1  2700             0      3
1806077        503      1  2700      12248408      4
1806078        503      1  2700      12248688      5
1806079        503      1  2700             1      6
1806080        503      1  2700             0      7
1806081        503      1  2700             0      8
1806082        503      1  2700             0      9
1806083        503      1  2700             0     10
1806084        503      1  2700             0     11
1806085        503      1  2700       7405696     12
1806086        503      1  2700       7405732     13
1806087        503      1  2700       3514368     14
1806088        503      1  2700    3221225524     15
1806089        503      1  2700    3221225480     16
1806090        503      1  2700             0     17
1806091        503      1  2700             0     18
1806092        503      1  2700             0     19
1806093        503      1  2700             0     20
1806094        503      1  2700    3221225781     21
1806095        503      1  2700    3221225781     22
1806096        503      1  2700             0     23
1806097        503      1  2700             0     24
1806098        503      1  2700             0     25
1806099        503      1  2700             0     26
1806100        503      1  2700             0     27
1806101        503      1  2700             0     28
1806102        503      1  2700             0     29
...            ...    ...   ...           ...    ...
405617768   115469      1  2732             0    364
405617769   115469      1  2732             0    365
405617770   115469      1  2732             0    366
405617771   115469      1  2732             0    367
405617772   115469      1  2732             0    368
405617773   115469      1  2732             0    369
405617774   115469      1  2732             0    370
405617775   115469      1  2732             0    371
405617776   115469      1  2732             0    372
405617777   115469      1  2732             0    373
405617778   115469      1  2732             0    374
405617779   115469      1  2732             0    375
405617780   115469      1  2732             2    376
405617781   115469      1  2732             0    377
405617782   115469      1  2732             0    378
405617783   115469      1  2732             0    379
405617784   115469      1  2732             2    380
405617785   115469      1  2732             0    381
405617786   115469      1  2732         32775    382
405617787   115469      1  2732             0    383
405617788   115469      1  2732             0    384
405617789   115469      1  2732             5    385
405617790   115469      1  2732         32775    386
405617791   115469      1  2732             0    387
405617792   115469      1  2732             0    388
405617793   115469      1  2732             5    389
405617794   115469      1  2732           111    390
405617795   115469      1  2732             0    391
405617796   115469      1  2732             0    392
405617797   115469      1  2732             0    393

[1369564 rows x 5 columns]

In [32]:
train['label'].value_counts()

0    370157119
5     25688289
3      6108264
2      5964169
1      1369564
4       343644
Name: label, dtype: int64

### 标签与其他字段的关系

#### 基于label的统计，从file_id角度

- file_id与api的关系
- file_id与tid的关系
- file_id与return_value的关系

#### 返回值的角度

#### 调用顺序的角度

In [36]:
train[train['file_id'] == 0]

     file_id  label   tid  return_value  index
0          0      0  2644             0      0
1          0      0  2644             0      1
2          0      0  2644             0      2
3          0      0  2644             0      3
4          0      0  2644             0      4
5          0      0  2644             0      5
6          0      0  2644             0      6
7          0      0  2644             0      7
8          0      0  2644             0      8
9          0      0  2644             0      9
10         0      0  2644             0     10
11         0      0  2644             0     11
12         0      0  2644             0     12
13         0      0  2644             0     13
14         0      0  2644             0     14
15         0      0  2644             0     15
16         0      0  2644             0     16
17         0      0  2644             0     17
18         0      0  2644             0     18
19         0      0  2644             0     19
20         0      0  2644             0     20
21         0      0  2644             0     21
22         0      0  2644             0     22
23         0      0  2644             0     23
24         0      0  2644             0     24
25         0      0  2644             0     25
26         0      0  2644             0     26
27         0      0  2644    1073741824     27
28         0      0  2644    1073741824     28
29         0      0  2644             0     29
..       ...    ...   ...           ...    ...
394        0      0  2644             0    394
395        0      0  2644             0    395
396        0      0  2644   -1073741515    396
397        0      0  2644   -1073741515    397
398        0      0  2644             0    398
399        0      0  2644             0    399
400        0      0  2644             0    400
401        0      0  2644   -1073741816    401
402        0      0  2644   -1073741816    402
403        0      0  2644   -1073741816    403
404        0      0  2644             0    404
405        0      0  2644             0    405
406        0      0  2644             0    406
407        0      0  2644             0    407
408        0      0  2644             0    408
409        0      0  2644             0    409
410        0      0  2644             0    410
411        0      0  2644             0    411
412        0      0  2644             0    412
413        0      0  2644             0    413
414        0      0  2644             0    414
415        0      0  2644             0    415
416        0      0  2644             0    416
417        0      0  2644             0    417
418        0      0  2644             0    418
419        0      0  2644             0    419
420        0      0  2644             0    420
421        0      0  2644   -1073741772    421
422        0      0  2644             0    422
423        0      0  2644             0    423

[424 rows x 5 columns]

In [39]:
train['return_value'].value_counts()

 0                244952165
 1                 54750841
 2                 48588373
 3221225524         6494839
-1073741772         5096935
 32                 3721217
 4294967295         1921056
 259                1698544
 16                 1593565
 65766              1566489
 4                  1462188
 13                 1434490
 32775              1260090
 3221225781         1021003
 5                  1002186
 32773               915290
 12                  896519
 6                   838891
 10                  666565
 19                  638404
 3                   630110
 3221225480          503686
 2147483654          496810
 3221225785          462406
 3221225530          396803
 8208                321874
 17                  300858
 7                   295772
 2147483653          266089
-1073741511          254538
                    ...
 6423356                  1
 5177393                  1
 8791647054120            1
 11486120                 1
 4079658                  1
 9651240                  1
 189124                   1
 52777596                 1
 16066675                 1
 3485808                  1
 16958144                 1
 8791610600608            1
 79603                    1
 1922106464               1
 9913512                  1
 33360244                 1
 6896628                  1
 3223795                  1
 79602                    1
 8464112                  1
 8791607190816            1
 1954784928               1
 4653361                  1
 10298736                 1
 10900264                 1
 1958191136               1
 5062516                  1
 9389992                  1
 6110580                  1
 1133955                  1
Name: return_value, Length: 2084069, dtype: int64